/* General Page Styling */
.about-page {
  padding: 50px 20px;
  margin: 40px;
  background:  #fff;
  color: #000;
  border-radius: 20px;
  box-shadow: 15px 30px rgba(0, 0, 0, 0.2);
  animation: fadeIn 2s ease-in-out;
}

.about-title {
  position:relative;
  text-align: center;
  font-weight: 800;
  font-size: 2.5rem;
  font-style: italic;
  margin: 30px !important;
  animation: slideDown 1.5s ease-out;
}

/* About Section */
.about-box {
  position:relative;
  background: linear-gradient(90deg , #fff , rgba(3, 161, 90, 0.975));
  border-radius: 12px;
  padding: 20px !important;
  margin: 10px !important;
  text-align: center;
  backdrop-filter: blur(10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  animation: fadeInBox 1.5s ease-in-out;
}

.about-section-title {
  position:relative;
  font-weight: bold;
  color: #fb8005;
  margin: 15px;
}

.about-description {
  position:relative;
  color: #000;
  font-size: 1rem;
  line-height: 1.5;
}

/* Meet the Team Section */
.meet-the-team {
  position:relative;
  margin: 60px;
}

.team-title {
  position:relative;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  margin: 20px !important;
  animation: slideUp 1.5s ease-out;
}

.team-card {
  position:relative;
  margin: 20px !important;
  border: none;
  text-align: center;
  box-shadow: 10px 10px black;
}

.team-photo-wrapper {
  position: relative;
  background:  #fff ;
  border-radius: 50%;
  overflow: hidden;
  padding: 10px !important;
}

.team-photo {
  position:relative;
  width: 100%;
  background:  #fff;
  height: auto;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.team-photo:hover {
  transform: scale(1.2);
}

.team-name {
  margin: 15px !important;
  font-weight: 700;
  font-size: 24px;
  color: #000;
}

.team-designation {
  color: #000;
  font-size: 16px;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInBox {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
