/* App.css */

body{
  background: linear-gradient(90deg , rgb(242, 197, 133) , rgb(226, 247, 151) , rgb(153, 229, 237));
}


.app-wrapper {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1; /* This makes sure the content area takes the remaining space */
  padding: 3px;
}

#footer, #endfooter {
  background-color: #333;
  color: white;
  padding-top: 2px;
  text-align: center;
}

#footer {
  background-color: #f1f1f1;
  height: auto; /* Footer's height */
}

#endfooter {
  background-color: #444;
  height: auto; /* EndFooter's height */
}

