/* App.css */

body{
  background: linear-gradient(90deg , #fff , rgba(3, 161, 90, 0.975));
  font-weight: 500;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.logo-container {
  background-color: #fff;
  animation: scaleAnimation 1s ease-in-out;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; /* Optional: for rounded background */
  width: 100px;      /* Adjust as per requirement */
  height: 70px;      /* Adjust as per requirement */
}

.app-wrapper {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1; /* This makes sure the content area takes the remaining space */
  padding: 3px;
}

#footer, #endfooter {
  background-color: #333;
  color: white;
  padding-top: 2px;
  text-align: center;
}

#footer {
  background-color: #f1f1f1;
  height: auto; /* Footer's height */
}

#endfooter {
  background-color: #444;
  height: auto; /* EndFooter's height */
}

