body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: 'Courier New',
    monospace;
}

/* In Banner.css */
@keyframes blurFadeIn {
  0% { filter: blur(8px); }
  100% { filter: blur(0); }
}



.animate-blur {
  animation: blurFadeIn 3s ease forwards;
}

